
/*header*/

.title {
    font-size: 25px;
    background-color: #ffffffd4;
}
h1 {
    color:#7FB77E;
    font-family: kanit ;
    text-align: center;
    padding: 20px;
    font-size: 2 50%;
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
h1 a {
    color:#FFC090;
    font-family: kanit ;
    text-align: center;
    padding: 20px;
    font-size: 2 50%;
    text-decoration: none;
}
.menu {
    list-style-type: none;
    background-color: #7FB77E ;
    font-family: kanit;
    right: inherit;
    text-align: center;
    position: sticky; 
}
.menu li {
    display: inline;
    margin-right: 10px;
    list-style-type: none;
}
.menu li a {
    display: inline;
    margin-right: 10px;
    color: #241202;
    text-align: right;
    text-decoration: none;
}
.menu li a:hover {
    font-style: bold;
    color: #a64708;
}

h2 {
    -webkit-animation: roll-in-blurred-left 2.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: roll-in-blurred-left 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
h3 {
    -webkit-animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

.parrafito {
    -webkit-animation: text-focus-in 3.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 3.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.parrafito:hover {
    color: #020700;
    background-color:#ffc090c8;
    transition: 1s;
}

.encuentre {
    margin-top: 16px;
    font-size: 30px;
    color: #FFC090;
    background-color: #a64708;
}



/*cartas*/
.tarjetas {
    background-color: #7FB77E;
}
.griddd {
    height: 900px;
    display: grid;
    grid-column: 2fr;
    grid-row: 1fr;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 125px;
    margin-bottom: 125px;
}

.flex-container div {
    background-color:#FFC090;
    width: 300px;
    height: 400px;
    margin:10px;
    text-align: center;
    line-height: 90px;
    border: 1px solid black;
    font-size: 50px;
    justify-content: center;
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
}

.container1 {
    padding: 20px;
    box-shadow: 0 25px 50px -8px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    text-decoration: none;
    border-right: 50px;
}
.container1-img {
    border: 1px solid black;
    border-radius: 20px;
}
.container1-titulo {
    font-size: 20px;
    line-height: 10px;
    margin: 20px;
    margin-top: 30px;
}
.container1-parrafo {
    font-size: 15px;
    line-height: 10px;
    margin-bottom: 10px;
}
.container1-parrafo2 {
    font-size: 15px;
    line-height: 10px;
    margin-top: 10px;
}
.container1-boton {
    background-color: #9af3ac7c;
    border: none;
    padding: 7px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 50%;
    margin-left: 50%;
}
.container1-boton a {
    text-decoration: none;
}

.container1:hover {
    width: 330px;
    height: 430px;
    background-color:#b975f4a2;
    margin-bottom: 0px;
}
.container1 {
    transition: 1s;
}

.container2 {
    padding: 20px;
    box-shadow: 0 25px 50px -8px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-left: 50px;
}
.container2-img {
    border: 1px solid black;
    border-radius: 20px;
}
.container2-titulo {
    font-size: 20px;
    line-height: 10px;
    margin: 20px;
    margin-top: 30px;
}
.container2-parrafo {
    font-size: 15px;
    line-height: 10px;
    margin-bottom: 10px;
}
.container2-parrafo2 {
    font-size: 15px;
    line-height: 10px;
    margin-top: 10px;
}
.container2-boton {
    background-color: #9af3ac7c;
    border: none;
    padding: 7px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 50%;
    margin-left: 50%;
    justify-content: center;
}
.container2-boton a {
    text-decoration: none;
    justify-content: center;
}
.container2:hover {
    width: 330px;
    height: 430px;
    background-color:#b975f4a2;
    margin-bottom: 0px;
}

.container2 {
    transition: 1s;
}
/*FINtarjetas*/

/*VIDEO*/

.grid-container {
    display: grid;
    place-content: center;
    width: 100%;
    height: 900px;
    align-items: center;
    grid-template-columns: 25% 50% 25%;
    margin-left: 0px;
    background-color: #B1D7B4;
} 

.video1 {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100fr;
}
.video2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.video iframe {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video3 {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    }

/*FINvideo*/


.encuentre {
    background-color: #59a769;
    text-align: center;
    margin-top: 0;
}


/*otros enlaces*/

/*CONTACTO*/
.contacto {
    -webkit-animation: color-change-2x 4s linear infinite alternate both;
    animation: color-change-2x 4s linear infinite alternate both;
}
.carta__contacto {
    width: 400px;
    height: 450px;
    background-color: #9af3ac71;
    border-radius: 10px;
    border: solid 1px black;
    padding: 10px;
    margin-left: 750px;
    margin-top: 100px;
    margin-bottom:122px;
    text-align: start;
    text-decoration: none;
    padding-inline: 25px;
}
.h2__contacto{
    background-color: none;
    text-align: left;
}
li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.nombre {
    padding: 20px;
}
button {
    margin-left: 140px;
    background-color: #a486c2;
    border-radius: 10px;
    width: 30%;
}
/*INICIAR SESION*/
.iniciarsesion {
    -webkit-animation: color-change-2x 4s linear infinite alternate both;
    animation: color-change-2x 4s linear infinite alternate both;
}
/*REGISTRARSE*/
.registro {
    height: 70vh;
    -webkit-animation: color-change-2x 4s linear infinite alternate both;
    animation: color-change-2x 4s linear infinite alternate both;
}
.pepe {
    text-align: center;
    font-size: 25px;
    text-decoration: double;
    height: 80px;
    display: grid;
}

.contacto {
    background-color:#d3aafd9e;
}

.registrarseee {
    width: 400px;
    height: 420px;
    background-color: #9af3ac71;
    border-radius: 10px;
    padding: 20px;
    margin-left: 750px;
    margin-top: 25px;
    text-align:right;
    border: 1px solid black;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    }

    .registrarseeee {
        width: 400px;
        height: 420px;
        background-color: #9af3ac71;
        border-radius: 10px;
        padding: 20px;
        margin-left: 750px;
        margin-top: 125px;
        margin-bottom: 125px;
        text-align:right;
        border: 1px solid black;
        border-radius: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        }    
.nombre {
    padding: 10px;
}
.apellido {
    padding: 10px;
}
.localidad {
    padding: 10px;
}
.provincia {
    padding: 10px;
}
.pais {
    padding: 10px;
}
.numero {
    padding: 10px;
}
.email {
    padding: 10px;
}



.boton__registrarse {
    margin-top: 50px;
}

.iniciarsesion {
    background-color: #d3aafd9e;
}

/*PAGINA ONLINE*/

.tarjeta-online {
    margin-bottom: 201px;
}

/*PAGINA GRABADAS*/

.tarjeta-grabadas {
    margin-bottom: 201px;
}




@media screen and (max-width: 480px) {
    .menu li a {
        font-size: 12px;
        display: inline;
        margin-right: 50px;
    }
h1 {
    font-size: 18px;
}

body {
    background-color: #59a769;
}

.body-index {
    background-image: url("./../imagenes/22adultos-mayores-a-moverse-1271537.jpg");
    background-repeat: no-repeat;
    margin-top: 268px;
    background-size: 100% ;
}

.griddd {
    display: grid;
    grid-column: 2fr;
    grid-row: 1fr;
    height: 850px;
}
    .flex-container {
        display: grid;
        grid-column: 1fr;
        grid-row: 1fr;
        margin-top: 10px;
        margin-bottom: 0 ;
    }
    .flex-container div {
        background-color:#a486c287;
        width: 225px;
        height: 300px;
        margin:20px;
        text-align: center;
        line-height: 90px;
        border: 1px solid black;
        font-size: 50px;
        justify-content: center;
        text-decoration: none;
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .container1-titulo {
        font-size: 15px;
        line-height: 10px;
        margin: 20px;
        margin-top: 30px;
    }

    .container2-titulo {
        font-size: 15px;
    }

    .parrafito {
        text-align: center;
        padding: 10px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        background-color:#a486c2;
        border-radius: 20px;
        font-weight: bold;
    }
    
    
    .grid-container{
        grid-template-columns: 1fr;
        grid-row: 3fr;
        align-content: center;
        grid-template-rows: 33% 33% 33%;
        
    }




    .video2 {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .video2 iframe {
        width: 360px;
        height: 202px;
    }

    .encuentre {
        background-color: #a486c2;
    }
    

    
}


.bg-black {
    opacity: 70%;
}


@-webkit-keyframes roll-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) rotate(-720deg);
                transform: translateX(-1000px) rotate(-720deg);
        -webkit-filter: blur(50px);
                filter: blur(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
    }
}
@keyframes roll-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) rotate(-720deg);
                transform: translateX(-1000px) rotate(-720deg);
        -webkit-filter: blur(50px);
                filter: blur(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
    }
}



@-webkit-keyframes color-change-2x {
    0% {
        background: #7FB77E;
    }
    50% {
        background: #a486c2;
    }
    100% {
        background: #FFC090;
    }
}




@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}



@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}



@-webkit-keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
                transform: translateZ(300px);
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
                transform: translateZ(12px);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
    }
}
@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
                transform: translateZ(300px);
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
                transform: translateZ(12px);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
    }
}
